.works{
    background-color: crimson;
    width: 100 vw;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    .arrow{
        font-size: 50px;
        color: white;
        position: absolute;
        cursor: pointer;
        &.left{
            left: 100px;
        }
        &.right{
            right: 100px;
        }
    }
    .slider{
        height: 550px;
        display: flex;
        position: absolute;
        left : 0px;
        transition: all 1s ease;
        .container{
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;

            .item{
                width: 900px;
                height: 100%;
                background-color: white;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
                .left{
                    flex:4;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .leftContainer{
                        width: 90%;
                        height: 70%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        .imageContainer{
                            width: 70px;
                            height: 70px;
                            border-radius: 50%;
                            background-color: rgb(255, 194, 172);
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            
                            .icon{
                                font-size: 40px;
                            }
                        }
                        h2{
                            font-size: 30px;
                        }
                        p{
                            font-size: 20px;
                        }
                        span{
                            font-size: 19px;
                            font-weight: 600;
                            text-decoration: underline;
                            cursor: pointer;
                        }

                    }
                }
                .right{
                    flex:8;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;
                    img{
                        width: 500px;
                        transform: rotate(-10deg);
                        // overflow: hidden;
                    }

                }
            }
        }
    }
}
